html,
head,
div,
body,
p,
footer {
	font-family: "DM Sans", sans-serif !important;
	color: #32291fd7;
	align-items: center;
	overflow-x: hidden;
}

.navbar-light .navbar-toggler {
	border: none;
	color: black;
}

.navbar {
	width: 100% !important;
	display: flex;
	justify-content: center;
	background: #e4def4 !important;
}
.navbar a {
	color:rgb(34, 46, 34);
	padding: 10px 15px !important;
	margin: 10px 10px;
	animation: ease-in 2s;
}

.navbar a:hover {
	text-decoration: #300832 underline 1px;
	text-underline-offset: 5px;
	scale: 1.05;
	color: #300832;
}

.hide:focus {
	outline: 1px rgba(83, 100, 83, 0.119) solid;
}

.con {
	display: flex;
	justify-content: center;
}

.nb {
	width: 90%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.navbar-toggler:active {
	border: none;

}

.gradient,
.gradient-2 {
	--size: 350px;
	--speed: 50s;
	--easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
	width: var(--size);
	height: var(--size);
	filter: blur(calc(var(--size) / 5));
	background-image: linear-gradient(#ebc2fb, rgb(175, 204, 218));
	/* animation: rotate var(--speed) var(--easing) alternate infinite;*/
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	position: absolute;
	align-items: center;
	margin-top: 0%;
	margin-left: 10%;
	padding: 10% 10%;
	overflow: hidden;
}

.gradient-2 {
	background-image: linear-gradient(#d5e7d0, rgb(252, 237, 203));
	size: 300px;
	margin-top: 20%;
	margin-left: 25%;
}
@media (max-width: 720px) {
	.gradient .gradient-2 {
		--size:300px;
	}
}

body {
	place-content: center;
	align-items: center;
}

* {
	transition: all 0.25s ease-out;
}

.name,
.subheader {
	font-family: "Manrope" sans-serif, "DM Sans" sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
	line-height: auto;
	letter-spacing: 0.01em;
	text-align: left;
	color: #190729;
	overflow: hidden;
}

.subheader {
	font-size: 72px;
	text-align: center;
}

.hero {
	font-size: 20px;
	font-weight: 400;
}

.container-fluid {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
	overflow-x: hidden;
}
.container-fluid::-webkit-scrollbar {
	display: none;
}

.container {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: hidden;
}
.container::-webkit-scrollbar {
	display: none;
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 2s all ease;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.project-logo {
	margin-top: 20%;
	margin-left: 15%;
	width: 150px;
	height: 150px;
	position: relative;
	transition: transform 250ms;
}

.project-logo:hover,
.project-logo:focus,
.project-logo:active {
	transform: translateY(-10px);
}

.project-header {
	font-family: "Cormorant";
	font-size: 42px;
	font-weight: 600;
	font-style: italic;
	padding-bottom: 0px;
	margin-top: 1vh;
	color: rgb(83, 100, 83);
	padding-left: 15px;
}

.project-header:hover {
	color: rgb(34, 46, 34);
	text-decoration: none;
	transition: 0.2s ease-in;
}

.project {
	border: 2px solid rgba(76, 73, 70, 0.814);
	border-radius: 16px;
	margin-bottom: 20px;
	height: auto;
	padding: 1%;
}

.project-info {
	width: 90%;
	padding-left: 15px;
}

.position-title {
	padding-left: 15px;
	font-size: 18px;
	font-weight: thin;
	color: #43423f;
}

@keyframes anime {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.value-header {
	font-family: "Manrope", sans-serif;
	font-weight: 600;
}
#image {
	height: 400px;
}

#particles-js {
	overflow: hidden;
	padding-bottom: 150px;
	position: relative;
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	z-index: 0;
	background: #f9f7f9;
}

.subheader-caption {
	font-family: "Manrope", sans-serif;
	font-size: 20px;
	margin-top: 30px;
}

#hero-section {
	background-color: #e4def4;
	/*background: linear-gradient(-45deg, #E4DEF4, #f2e2f8, #d1eaf3, #E4DEF4);*/
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	position: relative;
}

#brain {
	width: 200px;
	height: 380px;
	position: absolute;
	top: 80px;
	right: 0px;
}

.container-fluid {
	padding: 0% !important;
	position: absolute;
}

.about-us {
	position: absolute !important;
	display: flex;
	justify-content: center;
	z-index: 10;
}

#profile {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-top:10px;
	left: 10%;
	top: 25%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#profile:hover {
	scale: 1.05;
}

.braindump-info {
	font-size: 19px;
	text-align: left;
	padding-left: 20px;
	margin-bottom:10px;
}

#students-info {
	left: 37.5%;
	justify-content: center;
	text-align: center;
}

#network-info {
	justify-content: right;
	text-align: center;
	right: 10%;
}

.projects {
	top: 80%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#project-logo {
	width: 150px;
	margin: 20px;
	transition: all 0.2s ease-in-out;
}

.project-logo-div {
	overflow: visible;
	height: 100px;
	display: flex;
	justify-content: center;
}

#project-logo:hover {
	transform: scale(1.1);
}

#projects {
	background: linear-gradient(#ffffff, #f9f7f9);
}

#values {
	background-color: #ffffff;
}

#contact-btn {
	border-radius: 16px;
	height: 100px;
	padding: 10px 30px;
	background-color: #421d64;
	color: white;
}

#contact-btn:hover {
	background-color:#421d6495;
	text-decoration: none;
	scale: 1.1;
}
@media screen and (max-width: 1200px) {
	.project-header,
	.project-info,
	.position-title {
		margin-left: 20px;
	}

	.project-header {
		font-size: 32px;
	}

	.project-info {
		font-size: 14px;
	}
	#network {
		right: 14%;
	}

	#brain {
		height: 300px;
		width: 170px;
	}
	.subheader {
		font-size:60px;
	}
	.name {
		font-size: 64px;
	}
}

@media screen and (max-width: 900px) {
	#network {
		right: 14%;
	}

	#brain {
		top: 13%;
		height: 270px;
		width: 150px;
	}
	.subheader {
		font-size:50px;
	}
	.name {
		font-size: 55px;
	}
	.hero {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.project-logo {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0%;
		width: 150px;
		height: 150px;
		position: relative;
		justify-content: center;
		align-items: center;
	}

	.project-header,
	.project-info,
	.position-title {
		margin-left: 10px;
	}

	.subheader {
		font-size: 32px;
	}

	.subheader-caption {
		font-size: 20px;
	}
	#profile {
		height: 200px;
		width: 200px;
	}
	#brain {
		display: none;
	}
	.name {
		font-size: 40px;
	}
	.hero {
		font-size: 15px;
	}
	.braindump-info {
		font-size: 18px;
		text-align: center;
	}
	.nb {
		width: 100%;
	}
	.value-header {
		font-size: 18px;
	}

#contact-btn {
	height: 70px;
	padding: 7px 20px;
	font-size: 14px;
}

}
